

*{
    margin: 0px;
    padding: 0px;
}



.Hadcont{
    height: 270px;
    background-color: #0020F4;
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
    margin-top: 80px;

}

.logo{
    width: 70px;
    height: 50px;
    
   
    
}

.Nav-navigacia{
    
    box-sizing:border-box;
    max-width:70%;
    height: 100px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: -70px;
    
    
    
   
}

.Ul-navigacia{
    
   display: flex;
   
}


.Ul-navigacia > li {
    
    padding: 2%;
    list-style-type: none;
    color: #FFFFFF;

   
}

.LiBackGroundCont{
    border: 1px solid #FFFFFF;
    border-radius: 5px 20px 5px 20px;
    width: 80px;
    height: 35px;
    background-color: #FFFFFF;
    margin-top: 20px;
    
}

.LiBackGround{
   
    color: #171717;
    list-style-type:none;
    padding: 5px;
    
    
}

.Centerfhoto{

    text-align: center;
}

.Img2{
    width: 700px;
    height: 350px;
    object-fit: cover;
    margin-top: -100px;
}



.TextArticl{
    
    max-width: 70%;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}



.Photos{

 
  width: 150px;
  height: 70px;
  
}



.PhotosCont{


    text-align: center;
    margin: 10px;
   
}



.TextArticl2{

   
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
   padding: 10px;
   
    
}

.InfoBorder{

    background-color: #0A22F4;
    border-radius: 28px;
    width: 341px;
    height: 55px;
    text-align: center;
   margin-left: auto;
    margin-right: auto;
    
}

.InfoText{
    
  font-size: 20px;
  transform: translateY(15px);
  
  color: #FFFFFF;
  
  
}



.Text{
    font-family: "axali-fonti";
    font-size: 15px;
}

.FooterCont{
    
    max-width: 100%;
    height: 700px;
    background-color: #0A22F4;
    margin: 20px;
    margin-top: 80px;
    border-radius: 10px;
    
    
}


.KontaqtDiv{
    
    margin: 70px;
    max-width: 30%;
    display: inline-block;
   
    
}

.ContactH{

    color: #FFFFFF;
    font-size: 25px;

}

.ContactP{

    color: #FFFFFF;
    margin-top: 50px;
    font-size: 15px;
}

.ImgRuka{

    width: 463px;
    height: 197px;
    margin-top: 30px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: -20px 20px 15px ;
}

.KontaqtDiv2{

    display: inline-block;
    margin-left: 20%;
    
    
    
}

.ContactP2{

    color: #FFFFFF;
    padding: 40px;
    border-bottom: 0.01px solid #FFFFFF;
}

.GagzavnaDiv{

    text-align: right;
    margin-right: 150px;
    
    
    
}

.GagzavnaSP{
    
    border-radius: 28px 28px 28px 28px ;
    font-size: 20px;
    background-color: #FFFFFF;
     padding: 10px
    
    
}

.AiqonDiv{

    
    
    padding-left:  100px;
    display: flex;
    
}

.IqonP{

    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-right:  300px;
    background-color: #FFFFFF;
    border-radius: 100%;
    color: #0A22F4;
    
    
}

.IqonP2{
    position:absolute;
    padding-left: 100px;
    padding-top: 13px;
    color:  #FFFFFF;
}

.IqonP3{
    position:absolute;
    padding-left: 470px;
    padding-top: 13px;
    color:  #FFFFFF;
    
    
}